<div class="header-logo">
  Whisper~New~
</div>
<ul class="header-menus">
  <li><a href="/">Top</a></li>
  <li><a href="/tasks/new">Whisper</a></li>
  <li><a href="/tasks">Index</a></li>
</ul>
<div class="clear"></div>
<%= render 'form' %>
