<header>
  <div class="header-logo">
    WhisperApp
  </div>
  <ul class="header-menus">
    <li><a href="/tasks/new">Whisper</a></li>
    <li><a href="/tasks">Index</a></li>
  </ul>
</header>
<div class="wrapper">
  <img src="/assets/2.jpeg">
</div>

<footer>
<p>&copy;Copyright Jun Kobayashi</p>
</footer>
